concurrentbuffer>=0.0.7
creationism>=0.0.3
numpy>=1.20.2
opencv-python-headless>=4.4.0
scipy>=1.5.2
scikit-image>=0.17.2
shapely==1.7.1
openslide-python>=1.1.1
PyYAML>=5.4.1
albumentations>=1.1.0
jsonschema>=4.4.0
matplotlib>=3.3.1
rtree>=1.0.0
