/* anything related to the light theme */
html[data-theme="light"] {
    --pst-color-primary: #371a4e !important;
    --error-color-background: #FFDDDD;
    --color-on-blue: white;
}

html[data-theme="dark"] {
    --pst-color-primary: #be6fff !important;
    --error-color-background: #490808;
    --color-on-blue: black;
}


.bd-links__title{
    display: none
}

.sd-btn-primary:hover, .sd-btn-outline-primary:hover, .sd-btn-outline-primary:hover {

    color: var(--color-on-blue) !important;
}

.sd-btn-primary, .sd-btn-outline-primary:hover, .sd-btn-outline-primary{

    color: var(--color-on-blue) !important;
}

.sd-text-white, .sd-text-white>p{
    color: var(--color-on-blue) !important;
}

.cell_input {
    border-left-color: var(--background-color) !important;
    border-block-color: var(--background-color) !important;
    border-right-color: var(--background-color) !important;
    border-style: none !important;

}

.highlight {
    padding: 0 !important;
}


.cell_input pre {
    background-color: var(--background-color) !important;
}

.cell_output .output.text_plain, .cell_output .output.stream, .cell_output .output.stderr .output.traceback{
    border-style: none !important;
}


.cell_output .output.traceback {
    border-style: none !important;
}



.cell_output {
    padding-left: 0.2rem !important;
    border-style: none !important;
}

.cell_output::before {
    content: "Out:";
    float: left !important;
    font-size: smaller !important;
    color: #888888 !important;
    border-style: none !important;

}

.cell_output pre {
    padding-left: 0.4rem !important;
    border-color: var(--background-color) !important;
    box-shadow: none !important;
    border-style: none !important;
    max-height: 40rem!important;
}


.stderr pre {
    background-color: var(--error-color-background) !important;
}

.traceback pre{
    background-color: var(--error-color-background) !important;
}

.sd-card {
    margin-top: 0.4rem !important;
}

.sd-card {
    border-color: #371a4e !important;
}
.sd-card:hover {
    color: #371a4e !important;
}

.sd-card-title {
    font-weight: normal !important;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

div.admonition {
    box-shadow: none !important;
    border-radius: 0 !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
}

div.admonition p {
    padding-left: 1.2rem !important;
}


.admonition p {
    margin-left: 0px !important;
}

.admonition-title::before {
    padding: 100% !important;
}

.admonition-title::after {
    content: "" !important;
}


.admonition ul {
    margin-left: 0 !important;
}


.admonition li p {
    padding-left: 0 !important;
}


.bd-sidenav strong{
    font-weight:normal !important;
    text-decoration: normal !important;
  }


.reference {
    font-weight:normal !important;
  }

.external {
    font-weight:bold !important;
  }

.bd-header .navbar-nav>.active>.nav-link {
    font-weight: normal !important;
}