/*

Navigation file
-------------------------------------------

Sets basic styles required for the navbar

*/


// No-js mobile toggle
#navbar-toggle-cbox {
   display: none;

   &:checked ~ .collapse {
     display: block;
   }
}

/* Main navbar */
.navbar.navbar-expand-md {
  border-bottom: 1px solid $primary;

  .navbar-brand {
    color: $primary;

    .external-links {
      display: none;
      color: $secondary;
      font-size: 0.65em;

      a {
        color: $secondary;
      }

      @include media-breakpoint-up(md) {
        display: block;
      }
    }

    .name-full {
      font-size: 1.15em;
    }
    &:hover {
      color: $link-hover-color;
    }
  }

  // Responsive name in the header
  .name-full {
    display: none;
  }
  @include media-breakpoint-up(md) {
    .name-short { display: none; }
    .name-full { display: inline; }
  }

  .navbar-nav {
    transition: width 0.8s ease-in-out;
    overflow-x: hidden;
  }

  .nav-link {
    color: $body-color;
    overflow: hidden;

    @include media-breakpoint-up(md) {
      padding-left: 0.7rem;
      padding-right: 0.7rem;
    }

    &:hover {
      color: $primary;
      .nav-icon {
        color: $primary;
      }

      @include media-breakpoint-up(lg) {
        .nav-icon-text.nav-icon-text-hidden {
          &.w-95 {  width: 95px; }
          &.w-85 {  width: 85px; }
          &.w-60 {  width: 60px; }
          &.w-55 {  width: 55px; }

        }
      }
    }
  }

  .nav-icon-text {
    display: inline-block;
    overflow-x: hidden;
    float: right;
    text-align: right;
    white-space: nowrap;

    // Hide on small to medium devices
    @include media-breakpoint-between(md, lg) {
      display: none;
    }

    @include media-breakpoint-up(md) {
        &.nav-icon-text-hidden {
          width: 0;
          transition: width 0.8s ease-in-out;
        }
    }

    @include media-breakpoint-down(sm) {
      float: left;
    }
  }

  .nav-icon {
    color: $body-color;
    font-size: 1.3em;
    display: inline-block;
    margin: 2px 0 0 5px;
    float: right;

    @include media-breakpoint-down(sm) {
      float: left;
      margin-right: 10px;
    }

    &.svg-icon-file-code, &.svg-icon-file-text-o {
      font-size: 1.2em;
    }
  }
}
